.gallery_body{
background-image: url('https://www.transparenttextures.com/patterns/pw-maze-white.png') !important;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    width: 100%;
    margin-top: 10px
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.arrow {
    font-size: 36px;
    color: #5a3d5c;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(5px); }
}