.gallery_body{
  background-image:
        url('https://www.transparenttextures.com/patterns/rice-paper-3.png');

}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;

}

.gallery a {
    display: block;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
}

.gallery img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 20px
}






